@model ML.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Slide Navbar</title> @*slide navbar style.css*@
    <link rel="stylesheet" type="text/css" href="~/css/recuperar.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">
            
            <div class="signup">
                 @using (Html.BeginForm("CambiarPassword", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <form>
                    <h2>Recuperar Usuario</h2>
                    <h2>Ingresa el correo a recuperar:</h2>
                    @* @Html.HiddenFor(Model=>Model.IdUsuario)*@
                     @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @name = "email-S", @placeholder = "Correo Electronico",@required="" })
                    <button>Recuperar contraseña</button>
                </form>
                }
            </div>
        </div>
</body>
</html>
